@import "@workspace/ui/globals.css";
@source "../app/**/*.{ts,tsx}";
@custom-variant dark (&:is(.dark *));

:root {
	--background: hsl(0 0% 100%);
	--foreground: hsl(240 10% 10%);

	--card: hsl(0 0% 100%);
	--card-foreground: hsl(240 10% 10%);

	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(240 10% 10%);

	/* Primary - آبی اصلی دایرکت */
	--primary: hsl(217 91% 46%); /* #0A6CFF */
	--primary-foreground: hsl(0 0% 100%);

	/* Secondary */
	--secondary: hsl(210 20% 96%);
	--secondary-foreground: hsl(240 10% 15%);

	/* Muted */
	--muted: hsl(0, 1%, 86%);
	--muted-foreground: hsl(240 5% 50%);

	--accent: hsl(158 68% 48%);
	--accent-foreground: hsl(0 0% 100%);

	--destructive: hsl(0 84% 60%);
	--destructive-foreground: hsl(0 0% 100%);

	--border: hsl(210 20% 90%);
	--input: hsl(210 20% 92%);
	--ring: hsl(217 91% 46%);

	--success: hsl(158 68% 48%);

	/* Sidebar */
	--sidebar: hsl(240 10% 98%);
	--sidebar-foreground: hsl(240 10% 15%);
	--sidebar-primary: hsl(217 91% 46%);
	--sidebar-primary-foreground: hsl(0 0% 100%);

	/* فونت Vazirmatn */
	--font-vazirmatn:
		"Vazirmatn", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, sans-serif;

	--radius: 0.625rem;
}

/* Dark Mode */
.dark {
	--background: hsl(240 10% 3.9%);
	--foreground: hsl(0 0% 98%);

	--card: hsl(240 10% 3.9%);
	--card-foreground: hsl(0 0% 98%);

	--popover: hsl(240 10% 3.9%);
	--popover-foreground: hsl(0 0% 98%);

	--primary: hsl(217 91% 60%);
	--primary-foreground: hsl(240 10% 3.9%);

	--secondary: hsl(240 5% 12%);
	--secondary-foreground: hsl(0 0% 98%);

	--muted: hsl(240 5% 12%);
	--muted-foreground: hsl(240 5% 65%);

	--accent: hsl(164, 68%, 52%);
	--accent-foreground: hsl(0, 6%, 6%);

	--border: hsl(240 5% 18%);
	--input: hsl(240 5% 15%);
	--ring: hsl(217 91% 60%);

	--sidebar: hsl(240 10% 8%);
	--sidebar-foreground: hsl(0 0% 95%);
	--sidebar-primary: hsl(217 91% 60%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
}

body {
	font-family: var(--font-vazirmatn);
	font-feature-settings:
		"kern" 1,
		"liga" 1,
		"tnum" 1;
}

/* بهبود نمایش اعداد فارسی */
.font-numeric {
	font-variant-numeric: tabular-nums;
}
